<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Stock</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Add a new product to general list</h1>
    <form action="#" th:action="@{/saveProduct}" th:object="${newProduct}" method="POST">
        <input type="text" th:field="*{name}" placeholder="Stock Name" class="form-control mb-4 col-4">
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <input type="number" th:field="*{calories}" placeholder="calories" class="form-control mb-4 col-4">
        <div style="color:red" th:if="${#fields.hasErrors('calories')}" th:errors="*{calories}"></div>
        <input type="text" th:field="*{proteins}" placeholder="proteins" class="form-control mb-4 col-4">
        <input type="number" th:field="*{carbohydrates}" placeholder="carbohydrates" class="form-control mb-4 col-4">
        <input type="number" th:field="*{fats}" placeholder="fats" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Save
            Employee</button>
    </form>
    <a th:href="@{/products}"> Back to Stocks</a>
</div>
</body>
</html>